// COLORI
$lt-dark: #1E2330;
$lt-green: #254F1A;
$lt-green-light: #42E661;
$lt-green-very-light: #e8efd6;
$lt-yellow: #D2E823;
$lt-white: #FFFFFF;
$lt-gray-500: #dee2e6;
$lt-dark-gray: #757575;
$lt-marble: #f3f3f1;
$lt-blue: #2665d6;
$lt-red: #780016;
$lt-pink: #e9c0e9;
$lt-dark-blue: #061492;
$lt-dark-red: #550111;
$lt-purple: #502274;

//FONTS
$font-corpo: "DM Sans", sans-serif;
$font-display: "Playfair Display", serif;
$font-hero: "Linik Sans", sans-serif;
